<h1>Cadastrar</h1>
<form action="/cadastrar" method="post">

<label for="">Nome: </label>
<input type="text" name="nome"><br><br>
<label for="">Nacionalidade: </label>
<input type="text" name="nacionalidade"><br><br>
<label for="">Idade: </label>
<input type="text" name="idade"><br><br>
<button type="submit">Cadastrar</button>

</form>